*{
  margin: 0;
  padding: 0;
  font-family: Cambria;
  font-size: 100%;
  list-style: none;
}
html, body{
height: 100%;
}
#main{
  color: #FFF;
  background-color: #305090;
  min-height: 100%;
}

a:visited{
  color: #005987;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

